<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    All kudos from me:
    <p th:each="kudosEl : ${kudosFromList}">
        <label for="listFrom">From:</label>
        <span id="listFrom" th:text="${kudosEl.who}"></span>
        <label for="listTo">To:</label>
        <span id="listTo" th:text="${kudosEl.to}"></span>
        <label for="listContent">Content:</label>
        <span id="listContent" th:text="${kudosEl.content}"></span>
        <label for="listDate">Create date:</label>
        <span id="listDate" th:text="${kudosEl.when}"></span>
    </p>
    All kudos to me:
    <p th:each="kudosEl : ${kudosToList}">
        <label for="listFrom">From:</label>
        <span id="listFrom" th:text="${kudosEl.who}"></span>
        <label for="listTo">To:</label>
        <span id="listTo" th:text="${kudosEl.to}"></span>
        <label for="listContent">Content:</label>
        <span id="listContent" th:text="${kudosEl.content}"></span>
        <label for="listDate">Create date:</label>
        <span id="listDate" th:text="${kudosEl.when}"></span>
    </p>
</body>
</html>